@font-face {
  font-family: MyGame;
  src: url(../font/Gameplay.ttf);
}

html,
body {
  height: 100%;
}
body {
  background-color: black;
}

#lives {
  display: inline-block;
}
#score {
  display: inline-block;
}

.notdisplay {
  display: none;
}

#welcomescreen {
  background: url(../images/breakout.jpg) center no-repeat;
  /* width: 504px; */
  height: 500px;
  text-align: center;
  margin-top: 50px;
}
#welcomescreen img {
  width: 389px;
  padding-top: 203px;
  margin-right: 45px;
}
.header {
  color: white;
}
#playscreen {
  text-align: center;
  background: url("../images/background.jpg") no-repeat center;
  height: 100%;
}
#myGame {
  margin-top: 50px;
}
#button {
  color: white;
  font-family: MyGame;
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}
.pause {
  position: relative;
  top: 100p;
  background-color: black;
  color: white;
  width: 400px;
  margin: 0 auto;
  top: -360px;
  border: 2px dotted;
  padding: 30px;
  font-size: 25px;
}
.header {
  display: inline-block;
  vertical-align: top;
  color: red;
  font-size: 30px;
  font-family: MyGame;
}
.header-background {
  background-color: black;
  /* height: 300px; */
  border-radius: 10px;
}
#scoretable {
  display: flex;
  justify-content: space-around;
  width: 600px;
  padding: 5px;
}
#timetable {
  font-size: 30px;
  font-family: MyGame;
  color: #ffff;
  padding-top: 70px;
}
.messageshot {
  position: relative;
  width: 590px;
  margin: 0 auto;
  top: -360px;
  font-size: 22px;
  color: white;
  font-family: MyGame;
}
#gameoverscreen {
  position: relative;
  background-color: black;
  color: white;
  margin: 0 auto;
  top: -636px;
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
}
#winscreen {
  position: relative;
  background-color: black;
  color: white;
  margin: 0 auto;
  top: -580px;
  opacity: 0.8;
  text-align: center;
  padding: 50px;
}
.opacity5 {
  opacity: 0.5;
}
.playagain {
  color: #8bc34a;
  font-size: 29px;
  font-family: MyGame;
  padding-top: 30px;
}
