.header {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
#lives {
  display: inline-block;
}
#score {
  display: inline-block;
}
#myGame {
  border: 1px solid aqua;
}
.notdisplay {
  display: none;
}
body {
  display: flex;
  justify-content: center;
}
