@font-face {
  font-family: MyGame;
  src: url(../font/Gameplay.ttf);
}

html,
body {
  height: 100%;
}
body {
  background-color: black;
}

#lives {
  display: inline-block;
}
#score {
  display: inline-block;
}

.notdisplay {
  display: none;
}
#button {
  color: white;
}
#welcomescreen {
  text-align: center;
  padding-top: 300px;
}
#welcomescreen img {
  width: 600px;
}
.header {
  color: white;
}
#playscreen {
  text-align: center;
  background: url("../images/background.jpg") no-repeat center;
  height: 100%;
}
#myGame {
  margin-top: 50px;
}
#button {
  font-family: MyGame;
  font-size: 30px;
}
.pause {
  position: relative;
  top: 100p;
  background-color: black;
  color: white;
  width: 590px;
  margin: 0 auto;
  top: -360px;
}
.header {
  display: inline-block;
  vertical-align: top;
  color: red;
  font-size: 30px;
  font-family: MyGame;
}
.header-background {
  background-color: black;
  /* height: 300px; */
  border-radius: 10px;
}
#scoretable {
  display: flex;
  justify-content: space-around;
  width: 600px;
  padding: 5px;
}
#timetable {
  font-size: 30px;
  font-family: MyGame;
  color: #ffff;
  padding-top: 70px;
}
.messageshot {
  position: relative;
  top: 100p;
  /* background-color: black; */
  /* color: white; */
  width: 590px;
  margin: 0 auto;
  top: -360px;
  font-size: 22px;
  color: white;
  font-family: MyGame;
}
#gameoverscreen {
  position: relative;
  background-color: black;
  color: white;
  margin: 0 auto;
  top: -580px;
  opacity: 0.8;
  text-align: center;
}
.opacity5 {
  opacity: 0.5;
}
